*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc {
    display: block;
    background-color: blueviolet;
    padding: 10px;
    border: 5px solid #000;
    width: 250px;
    border-radius: 10px;;
    margin: 10px;
        
}

.tela {
    display: block;
    justify-content: flex-end;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 215px;
    height: 45px;
    margin: 2px 2px 15px 2px;
}

.conta {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-right: 2px;
    color: rgb(192, 192, 192);
    max-width: 200px;
    overflow: hidden;
    max-width: 250px;
    text-overflow: clip;
    white-space:nowrap;
}

.atual{
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
    font: 18px sans-serif;
    overflow: hidden;
    max-width: 250px;
    text-overflow: clip;
    white-space:nowrap;
}

.teclas {
    display: inline-block;
    width: 48px;
    height: 45px;
    margin: 2px;
    font: 25px sans-serif;
    border-radius: 10px;
    background-color: #e0f3f7e5;
}

.tecla0, .backspace{
    width: 104px;
}
